body {
    background-color: rgb(12,12,12);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#base {
    position: relative;
    width: 1100px;
    min-height: 570px;
    height: 90vh;
    margin: auto;
    padding: 0 20px 40px 20px;
    background-color: rgb(22,22,22);
}

#info {
    font-size: .8rem;
    font-weight: normal;
    text-align: left;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 22px;
    margin: 10px 0 20px 0;
}

h2 {
    font-family: 'Audiowide', cursive;
    font-size: 18px;
    margin: 0;
}

hr {
    width: 80%;
    border: 1px solid rgba(255,255,255,.5);
}

#header {
    background: rgb(42,42,42);
    color: #fff;
    margin: 0 -20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .headertitle {
    font-size: .7rem;
}

#header img {
    height: 40px;
}

#header .info {
    width: 250px;
    font-size: .6rem;
    display: flex;
    color: rgba(255,255,255,.8);
}

#header .info a {
    color: rgba(255,255,255,.8);
}

#header .logo {
    margin: 0 0 0 1em;
}

#header a {
    color: #ccf;
}

.popup {
    position: absolute;
    display: none;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #171717;
    border-radius: 5px;
    color: #fff;
    text-align: left;
    background-color: rgba(102,102,102,.98);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: .8rem;
    font-weight: normal;
}

.popup > li {
    background-color: rgba(102,102,102,.95);
    text-decoration: none;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.popup > li.newSection {
    background-color: rgba(255,255,255,.2);
}

.popup > li > a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
}

.popup > li:hover {
    background: rgba(255,255,255,.95);
}

.popup > li:hover a {
    color: #111;
}

.popup > li > a:hover {
    color: #111;
}

img {
    margin: 0;
    padding: 0;
}

.patch {
    background: #66f;
    border: 1px solid #225;
    border-radius: 5px;
    width: 220px;
    height: 60px;
}

.menubtn {
    width: 140px;
    height: 24px;
}

.menubtn[disabled] {
    color: #aaa;
}

.modalbase {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modalbase > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    transition: 0.5s;
    overflow: hidden;
    border: 1px solid #171717;
    border-radius: 5px;
    color: rgba(255,255,255,.9);
    text-align: center;
    background-color: rgba(32,32,32,.98);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: .8rem;
    font-weight: normal;
}

.modalbase a {
    color: rgba(255,255,255,.9);
}

.btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    min-width: 100px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #fff;
    color: #111;
}

.big-btn {
    margin: 1em 0;
    padding: 10px 20px;
    font-size: .9rem;
    min-width: 200px;
    font-weight: 300;
}

.btn-close {
    position: absolute;
    right: 10px;
}

.btn-tab {
    border: 0;
    border-radius: 0 10px 0 0;
    min-width: 0;
    margin-right: .5em;
    padding: 5px 20px;
    position: relative;
    top: 1px;
}

.en .btn-tab.doc_en,
.ja .btn-tab.doc_ja {
    border: 1px solid #fff;
    border-bottom: 1px solid rgb(32,32,32);
    outline: 0;
}

.en .btn-tab.doc_en:hover,
.ja .btn-tab.doc_ja:hover {
    background-color: transparent;
    color: #fff;
    cursor: default;
}

.disclaimer {
    color: rgba(255,255,255,.7);
    font-size: .6rem;
}

#pedalmodels {
    display: flex;
    justify-content: center;
}

.pedalmodel {
    margin-right: 1em;
}

.pedalmodel:last-child {
    margin-right: 0;
}

.pedalmodeltitle {
    font-weight: 600;
    font-size: 1rem;
}

.logo {
    display: block;
    margin: 1em auto 0;
    width: 80px;
}

#alertpanel {
    background: linear-gradient(#c33, #b22);
    width: 380px;
    height: 150px;
}

#alertmsg {
    display: table-cell;
    width: 360px;
    height: 100px;
}

#confirmpanel {
    width: 250px;
    height: 100px;
}

#confirmpanel button {
    width: 70px;
    margin: 5px;
}

#inputpanel {
    width: 270px;
    height: 100px;
}

#inputpanel button {
    width: 70px;
    margin: 5px;
}

#inputpanel input {
    width: 200px;
}

#textareapanel {
    width: 800px;
    height: 150px;
}

#textareapanel textarea {
    width: 700px;
    height: 100px;
}

#textareapanel button {
    width: 70px;
    margin: 5px;
}

#mainmenu {
    position: absolute;
    width: 285px;
    left: 15px;
    top: 80px;
    color: #fff;
}

#mainmenu select {
    height: 20px;
}

#mainmenu ul {
    padding: 0;
    list-style: none;
}

#mainmenu ul li {
    margin: 2px 2px;
    width: 285px;
    font-size: .8rem;
}

#patchesbase {
    position: absolute;
    left: 316px;
    top: 90px;
    width: 800px;
    background: linear-gradient(#a0b0d0,#9caccc);
    border: 2px inset rgba(32,32,32,.8);
    padding: 5px 0;
    margin: 0 15px 0 auto;
}

#patches {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

#patches tr {
    margin: 0;
    padding: 0;
}

#patches td {
    margin: 0;
    padding: 0;
    position: relative;
}

#patches button {
    width: 30px;
    height: 20px;
    margin: 0 0 0 8px;
    padding: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,.6);
    color: #fff;
}

.pnam {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding: 1px 3px 1px 8px;
    color: #111;
    height: 20px;
    width: 120px;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    font-weight: bold;
    box-sizing: border-box
}

tr:nth-child(odd) .pnam {
    background-color: rgba(255,255,255,.3);
}

tr:nth-child(even) .pnam {
    background-color: rgba(255,255,255,.4);
}

.eficon {
    border: none;
    width: 3px;
    padding: 0;
    height: 5px;
    background-color: rgba(12,12,12,.7);
    position: absolute;
    right: 0;
    bottom: 1px;
}

.eficon.exist {
    background: rgb(255, 107, 0);
}

.eficon.exist.on {
    background: rgb(61, 255, 0);
}

#patches div:hover {
    background: rgba(255,255,255,.7);
}

#patches div.sel {
    background: linear-gradient(#c33, #b22);
    color: #fff;
}

#patches div.over {
    border: 2px dotted #44c;
}

#patches div.drag {
    opacity: 0.5;
}

#dspgraph {
    position: absolute;
    left: 20px;
    top: 347px;
    width: 7px;
    height: 0;
    display: inline-block;
    background: rgb(42,42,42);
    border: 1px solid #888;
    overflow: hidden;
}

#dspgraph div {
    border-bottom: 1px solid #000;
    background: #c00;
    box-sizing: border-box;
}

#effects {
    position: absolute;
    top: 345px;
    left: 39px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px inset rgba(0,0,0,.5);
    background: linear-gradient(#a0b0d0,#9caccc)
}

#effects th {
    width: 22px;
    padding: 0 3px;
}

#effects td {
    width: 100px;
    height: 32px;
    cursor: default;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom: 0;
}

#effects tr:first-child td {
    border-top: 0;
}

#effects tr td:last-child {
    border-right: 0;
}

#effects tr:nth-child(odd) td {
    background-color: rgba(255,255,255,.2);
}

#effects tr:nth-child(even) td {
    background-color: rgba(255,255,255,.1);
}

#effects td div {}

#effects td div {}

#effects td div div {}

#effects td div div input {
    display: none;
    background: transparent;
    border: 0;
    color: rgba(0,0,0,.8);
    width: 55px;
    height: 12px;
    margin: 2px 0 0 0;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    border-radius: 3px;
}

#effects .fimg {
    position: absolute;
    left: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    margin: -5px 0 0 -2px;
    float: left;
    border: none;
}

#effects .fnam {
    text-align: center;
    background: rgba(0,0,0,.3);
    color: #fff;
    width: 120px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    text-align: center;
}

#effects .fnam:hover {
    background: rgba(0,0,0,.4);
}

#effects .ftxt {
    display: inline;
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: .8rem;
}

#effects .fnam.drag {
    opacity: 0.5;
}

#effects .fnam.overup {
    border-top: 4px solid #fff;
}

#effects .fnam.overdown {
    border-bottom: 4px solid #fff;
}

#effects .fnam.press {
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6));
    color: #fff;
}

#effects .fnam.press:hover {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.5));
    color: #fff;
}

#effects .fnam.thru {
    background: rgba(0,0,0,.1);
}

#effects .fnam.thru .ftxt {
    color: rgba(255,255,255,.3);
}

.fnum {
    height: 35px;
    background-color: rgba(0,0,0,.6);
    border: 1px solid #fff;
    color: #fff;
}

.pcell {
    display: flex;
    color:  rgba(0,0,0,.8);
    font-size: 12px;
    font-weight: bold;
    height: 38px;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.pfocus {
    border: 1px solid rgba(204, 51, 51,.8);
}

input {
    width: 45%;
}

webaudio-knob {
    display: none;
    /*  width: 32px;*/
    margin: 4px 2px 0 2px;
}

webaudio-switch {
    display: none;
    /*  width: 32px;*/
}

#effectpanel {
    width: 1100px;
    height: 510px;
    padding: 5px;
    cursor: default;
}

#effectpanelscr {
    width: 1050px;
    height: 420px;
    margin: 10px auto;
    overflow-y: scroll;
    background-color: rgb(42,42,42);
    color: #fff;
}

#effectpanellist {
    width: 1000px;
}

.efgrp {
    width: 950px;
    padding: 4px 0;
    border-bottom: 1px solid #000;
}

.efitem {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    border: 1px solid #668;
    width: 80px;
    height: 84px;
    padding: 0;
    margin: 1px;
    font-size: 11px;
    font-weight: normal;
    color: #000;
    cursor: pointer;
    background: linear-gradient(#dde, #bbc);
}

.efitem.notinstall,
.efitem.install:hover {
    background: none;
    background-color: rgb(82,82,82);
    color: #aaa;
}

.efitem.notinstall img,
.efitem.install:hover img {
    filter: grayscale(100%) invert(100%);
    opacity: .5;
}

.efitem.notinstall .dspbar,
.efitem.install:hover .dspbar {
    filter: grayscale(100%);
}

.efitem.notinstall:hover .dspbar {
    filter: none;
}

.efitem.install,
.efitem.notinstall:hover {
    background: none;
    background-color: #ddd;
    color: #111;
}

.efitem.notinstall:hover img {
    filter: none;
    opacity: 1;
}

.efitem img {
    display: block;
    width: 64px;
    height: 52px;
    margin: 0 auto;
}

.efitem div {
    text-align: center;
}

.efitem div {
    padding: 0 4px;
}

.efitem .mk50 {
    position: absolute;
    left: 4px;
    bottom: 2px;
    height: 9px;
    width: 19px;
}

.efitem .mk60 {
    position: absolute;
    left: 24px;
    bottom: 2px;
    height: 9px;
    width: 19px;
}

.efitem .mk70 {
    position: absolute;
    left: 42px;
    bottom: 2px;
    height: 9px;
    width: 19px;
}

.efitem .dspbar {
    position: absolute;
    left: 5px;
    bottom: 30px;
    height: 30px;
    width: 4px;
    background: #f00;
    border: 1px solid #000;
    padding: 0;
    margin: 0;
}

#usagepanel {
    width: 900px;
    height: 500px;
    text-align: left;
}

#usagescr {
    height: 420px;
    margin: 0 auto 10px;
    padding: 10px;
    border: 1px solid #fff;
    overflow-y: scroll;
}

#waitpanel {
    width: 400px;
    height: 60px;
    line-height: 60px;
}

#patchenumpanel {
    width: 700px;
    height: 350px;
}

#patchenumpanel .patchbtn {
    width: 130px;
    text-align: left;
}

#patchenumscr {
    overflow-y: scroll;
    height: 450px;
}

#splashbase {
    display: block;
}

#splashpanel {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0;
}
